.main-card{
    font-size: 30px;
    font-weight: bold;
    color: #272D4E;
    margin-top: 1rem;
}

.main-text{ 
    margin-top: 1rem;
    font-size: 15px;
    color: #94A2B3;
}

.image{
    width: 100%;
    height: auto;
    border-radius: 20px;
}

@media (min-width: 100px) and (max-width: 700px) {
    .main-card{
       font-size: 20px;
    }
    .main-text{ 
      font-size: 13px;
  }
}